* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-heading: "Staatliches", sans-serif;
  --ff-texting: "Palanquin", sans-serif;
  --fc-primary: #ffffff;
  --fc-secondary: #4a4e69;
  --fc-tertiary: #23053a;
  --bg-primary: #eff1ff;
  --bg-secondary: #8e9aaf;
  --bg-tertiary: #cbc0d3;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-texting);
  max-width: 38.5rem;
  background-color: var(--bg-primary);
  margin: 0 auto;
}

header {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
  animation: topDown 900ms backwards ease;
}

header img {
  margin-top: 3.2rem;
}

.background-logo {
  background-color: var(--bg-tertiary);
  min-width: 38.5rem;
  height: 4.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem 0;
}

.background-logo h1 {
  font-family: var(--ff-heading);
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--fc-primary);

  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.cards {
  padding: 0 3.2rem 6rem;
  border: 0.5px solid #e9ebf5;
  animation: DownTop 900ms backwards ease reverse;
}

.paragraph {
  padding: 1.4rem 3.2rem;
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
}

.paragraph p {
  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--fc-tertiary);

  text-align: center;

  width: 30.5rem;
  height: 7.5rem;
}

.leftUp,
.leftBottom,
.middleBottom,
.middleUp,
.rightBottom,
.rightUp {
  position: relative;
  margin-bottom: 3.2rem;
}

.leftUp img:hover,
.leftBottom img:hover,
.middleBottom img:hover,
.middleUp img:hover,
.rightBottom img:hover,
.rightUp img:hover {
  filter: brightness(1);
  animation: pumpedUp 400ms 50ms forwards ease-in;
  cursor: pointer;
}

.leftUp div,
.leftBottom div,
.middleBottom div,
.middleUp div,
.rightBottom div,
.rightUp div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #feeafa;
  border-radius: 2rem;
  padding: 0 2.4rem;
  margin: 1.6rem 1.6rem 0 0;
}

.leftUp div h2,
.leftBottom div h2,
.middleUp div h2,
.middleBottom div h2,
.rightBottom div h2,
.rightUp div h2 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--fc-secondary);
  text-align: center;
}

.leftUp img,
.leftBottom img,
.middleBottom img,
.middleUp img,
.rightBottom img,
.rightUp img {
  width: 100%;
  height: auto;
  filter: saturate(2);
  object-fit: cover;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--fc-secondary);
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: var(--fc-secondary);
}

@media (min-width: 1250px) {
  * {
    margin: 0;
    padding: 0;
  }
  .page {
    display: flex;
    justify-content: center;
  }

  body {
    max-width: 100%;
    max-height: 76rem;
  }
  header {
    height: 51vw;
    max-width: 38.5rem;
    animation: slideHead 900ms forwards ease-in;
  }

  .paragraph {
    max-height: 25vw;
    padding: 0 5.4rem;
    background-color: var(--bg-secondary);
  }

  .paragraph p {
    color: var(--fc-primary);
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    width: 27.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "leftUp middleUp rightUp"
      "leftBottom middleUp rightBottom"
      "leftBottom middleBottom rightBottom"
      ". footer .";
    grid-template-rows: 15rem 17rem 15rem;
    justify-items: center;
    gap: 3.2rem;
    padding: 3.2rem 3.2rem 0 3.2rem;
    animation: slide 900ms forwards ease-in;
  }

  .leftUp {
    margin: 0;
    max-height: 15rem;
    max-width: 22rem;
    grid-area: leftUp;
  }

  .leftUp div,
  .leftBottom div,
  .middleBottom div,
  .middleUp div,
  .rightBottom div,
  .rightUp div {
    display: none;
  }

  .leftUp img,
  .middleBottom img,
  .rightUp img {
    width: 22rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  .leftBottom img,
  .middleUp img,
  .rightBottom img {
    width: 22rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  .middleUp {
    max-height: 35rem;
    max-width: 22rem;
    grid-area: middleUp;
  }

  .leftBottom {
    max-height: 35rem;
    max-width: 22rem;
    grid-area: leftBottom;
  }

  .middleBottom {
    max-height: 15rem;
    max-width: 22rem;
    grid-area: middleBottom;
  }

  .rightBottom {
    max-height: 15rem;
    max-width: 22rem;
    grid-area: rightBottom;
  }
  .leftBottom {
    max-height: 35rem;
    max-width: 22rem;
    grid-area: leftBottom;
  }

  footer {
    grid-area: footer;
  }

  footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;

    color: var(--fc-secondary);
  }

  footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--fc-secondary);
  }
}

@media (max-width: 1250px) {
  .rightBottom,
  .rightBottom div {
    display: none;
  }
  .rightUp,
  .rightUp div {
    display: none;
  }
}

@keyframes slideHead {
  0% {
    opacity: 0;
    transform: translateX(-25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pumpedUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes DownTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20rem);
  }
}
